/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: #eceff3;
}
.inputBox {
  background: #212121;
  width: 100%;
  border-radius: 26px;
  display: flex;
}

.inputBox input {
  width: 98%;
  padding: 0 20px;
  border: none;
  color: white;
  outline: none;
  height: 40px;
  border-radius: 30px;
}
.searchIconBtn {
  height: 40px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.08);
}

.dataBox {
  padding-top: 100px;
}
.citySelect {
  cursor: pointer;
}
.citySelect:hover {
  background: #007bff;
  color: white;
} */

.parentBox {
  /* background: #25476a; */
  background-image: linear-gradient(
    0deg,
    #d8eeee,
    #d8eeee 25%,
    #64b3c9 65%,
    #005986 90%,
    #005986
  );
  width: 100%;
}
.childBox {
  padding-top: 100px;
  height: 100%;
  width: 100%;
}
.bar {
  max-height: 100px;
  background-color: white;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
}
.bar > div {
  width: 100%;
  height: 100%;
  display: flex;
}

.bar span {
  color: rgb(131, 126, 126);
  font-weight: 800;
}
.bar p {
  font-size: 18px;
  color: black;
  font-weight: 800;
  margin: 0;
}
.bar svg {
  margin-right: 10px;
}

.forecastBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.day {
  width: 100%;
  background: white;
  max-width: 260px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}
.max {
  font-size: 14px;
  font-weight: 800;
  color: #e8eaed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.min {
  /* color: rgb(131, 126, 126); */

  color: #9aa0a6;

  display: flex;

  justify-content: center;
  align-items: center;
  padding-left: 5px;
  /* font-weight: 800; */
}

.forecastBox svg {
  display: block;
  width: 100%;
  height: 100%;
}
.forecast {
  border-radius: 20px;
  padding: 20px;

  /* background: rgb(0, 0, 0, 0.3); */
  background: #005986;
  display: flex;
  flex-direction: column;
  /* width: 100%; */

  height: 100%;
}
.forecast > div {
  column-gap: 10px;
}
.days {
  padding-bottom: 10px;
}
.forecast img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.TwcSunChart {
  stroke: #e87538;
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;

  transform: rotate(180deg);
}
.sun {
  transform: "translate(74.9778px, 19.6085px)";
}
.sunMove {
  display: inline-block;
  height: auto;
  width: 24px;
}

.day {
  /* transformOrigin: "translate(1px, 30.8774px)", */
  /* transform: translate(74.9778px, 19.6085px); */
  color: black;
}

.day div:nth-child(2) svg {
  max-width: 24px;
  height: auto;
}
/* ---------------------------------traffic graph -------------------- */

/* components/TrafficDashboard.module.css */
.traffic {
  margin-top: 20px;
  display: flex;
  column-gap: 20px;
}
.dashboardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #005986;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dataGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.dataItem {
  padding: 10px;
  background: rgb(0, 0, 0, 0.2);

  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
